<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>강의실 비품 관리</title>
</head>
<body>
<header>
  <h3>강의실 비품 관리</h3>
</header>
<div th:if="${!isLoggedIn}">
  <button onclick="location.href='/login'">로그인</button>
</div>
<div th:if="${isLoggedIn}">
  <button onclick="location.href='/logout'">로그아웃</button>
</div>
<nav>
  <ul>
    <li><a th:href="@{/}">홈</a></li>
    <li>
      <a th:if="${isLoggedIn}" th:href="@{/repairRequest}">수리요청</a>
      <a th:if="${!isLoggedIn}" th:href="@{/login}" onclick="alert('로그인이 필요합니다.')">수리요청</a>
    </li>
    <li>
      <a th:if="${isLoggedIn}" th:href="@{/rental}">대여</a>
      <a th:if="${!isLoggedIn}" th:href="@{/login}" onclick="alert('로그인이 필요합니다.')">대여</a>
    </li>
    <li>
      <a th:if="${isLoggedIn}" th:href="@{/return}">반납</a>
      <a th:if="${!isLoggedIn}" th:href="@{/login}" onclick="alert('로그인이 필요합니다.')">반납</a>
    </li>
  </ul>
</nav>
<!-- 네비게이션바까지 분리 -->
<section th:replace="~{${contentFragment}}"></section> <!-- 페이지를 선택할 때마다 바뀌는 부분 -->
<script>
  const urlParams = new URLSearchParams(window.location.search);
  //request
  const requestSuccess = urlParams.get('requestSuccess');
  const requestError = urlParams.get('requestError');

  //rental
  const rentalSuccess = urlParams.get('rentalSuccess');
  const rentalError = urlParams.get('rentalError');

  //request condition
  if(requestSuccess !== null){
      alert("성공적으로 수리 요청되었습니다.");
  }
  if(requestError !== null){
      alert("수리 요청에 실패했습니다.");
  }

  //rental condition
  if(rentalSuccess !== null){
      alert("성공적으로 대여했습니다.");
  }
  if(rentalError !== null){
      alert("대여에 실패했습니다.");
  }
</script>
</body>
</html>